# Data folders
data/
comma_data/
training_sample/
comma2k19_data/
.vscode/
openpilot/
commaFSD/
commaFSD_local/
extracted/
lerobot_datasets/
outputs/


# Video/Numpy files
*.hevc
*.zip
*.npy
*.avi
*.mp4


# Junk files
# NFS temp files
.nfs*

# Python/Jupyter noise
__pycache__/
.ipynb_checkpoints/

notes.txt
settings.json
